<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Player Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="page-content">
  <ion-item class="player-stats">
    <ion-input
      [(ngModel)]="playerName"
      placeholder="Ime i prezime igrača"
    ></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchPlayer()">Pretraži</ion-button>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="playerData.length > 0">
    <ion-card class="player-card" *ngFor="let player of playerData">
      <ion-card-header>
        <ion-card-title>{{ player.playerName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img
          [src]="getImagePath(player.playerName)"
          alt="{{ player.playerName }}"
          class="player-image"
        />
        <p><strong>Pozicija:</strong> {{ player.position }}</p>
        <p><strong>Tim:</strong> {{ player.team }}</p>
        <p><strong>Sezona:</strong> {{ player.season + 1 }}</p>
        <p><strong>Broj poena po utakmici:</strong> {{ player.per }}</p>
        <p>
          <strong>Procenat šuta:</strong> {{ (player.tsPercent * 100) |
          number:'1.1-2' }}%
        </p>
        <ion-button
          (click)="toggleFavorite(player)"
          [color]="isFavorite(player) ? 'primary' : 'medium'"
        >
          {{ isFavorite(player) ? 'Ukloni iz omiljenih' : 'Dodaj u omiljene' }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
