<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button routerLink="/news">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            <ion-label>News</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="/stats">
            <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
            <ion-label>Search stats</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button routerLink="/favorites">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Favorites</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item button (click)="logout()">
          <ion-icon name="power-outline" slot="start"></ion-icon>
          <ion-label>Log out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
