<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NewsNHoops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="welcome-page light-theme" [class.dark-theme]="isDarkMode">
  <!-- Toggle switch for theme selection above "Hoops and Highlights" -->
  <ion-buttons class="theme-toggle">
    <ion-toggle
      [(ngModel)]="isDarkMode"
      (ionChange)="toggleTheme()"
    ></ion-toggle>
    <ion-label>{{ isDarkMode ? 'Dark Mode' : 'Light Mode' }}</ion-label>
  </ion-buttons>

  <div class="welcome-text">
    <h2>
      Hoops and Highlights:<br />
      Where Every Stat and Story Matters!
    </h2>
  </div>

  <div class="basketball-animation-container">
    <img
      src="https://i.pinimg.com/originals/aa/d4/b4/aad4b4ff5ae0413ec69ebf6af0516e2e.gif"
      alt="Basketball Animation"
    />
  </div>
  <div class="pozadina2">
    <img
      src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/63cf3f102599851.5f3a83a18d89b.gif"
      alt="Pozadina"
    />
  </div>
  <div class="additional-text-container">
    <p>
      Find your favorite players and news with just a few clicks. Explore now!
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="donja-dugmad-toolbar">
    <ion-buttons class="donja-dugmad">
      <ion-button routerLink="/news" color="dark">News</ion-button>
      <ion-button routerLink="/favorites" color="dark">My Favorites</ion-button>
      <ion-button routerLink="/stats" color="dark">Search stats</ion-button>
      <ion-button routerLink="/posts" color="dark">My posts</ion-button>
      <ion-button routerLink="/other-posts" color="dark"
        >Browse posts</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
