ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-item {
  margin-bottom: 15px;
}

ion-input,
ion-textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

ion-input {
  width: 100%; /* Širina za korisničko ime */
}

ion-textarea {
  height: 150px; /* Veće polje za unos teksta posta */
  width: 100%;
  font-size: 16px;
  resize: none;
}

input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

ion-button {
  --border-radius: 8px;
  margin-top: 10px;
}

ion-list {
  margin-top: 20px;
}

ion-item ion-label span {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

ion-button[expand="full"] {
  width: 100%;
}

ion-toolbar {
  background-color: #3b5998; /* Promena boje toolbar-a */
  color: white;
}

ion-title {
  font-weight: bold;
  font-size: 24px;
}

.input-group {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ion-textarea {
  height: 120px; // Možeš prilagoditi visinu prema potrebi
}

ion-input {
  height: 50px;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-actions {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ion-button {
  flex: 1;
}
