<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true" class="nba-login-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-form">
    <!-- Polja za registraciju -->
    <ion-item class="custom-item">
      <ion-label position="stacked" color="light">Username</ion-label>
      <ion-input
        type="text"
        placeholder="Enter your username"
        [(ngModel)]="username"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="stacked" color="light">Email</ion-label>
      <ion-input
        type="email"
        placeholder="Enter your email"
        [(ngModel)]="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="stacked" color="light">Password</ion-label>
      <ion-input
        type="password"
        placeholder="Enter your password"
        [(ngModel)]="password"
        required
      ></ion-input>
      <!--bindujemo uneseni password sa password atributom komponente -->
    </ion-item>

    <ion-button expand="block" style="margin-top: 20px" (click)="register()">
      Register
    </ion-button>
  </div>
</ion-content>
